language: scala
sudo: required
dist: trusty

jdk:
  - openjdk8
  - openjdk11

script:
  - curl -L -o ~/bin/mill https://github.com/lihaoyi/mill/releases/download/0.3.3/0.3.3 && chmod +x ~/bin/mill
  - export PATH=~/bin/mill:$PATH
  - mill _.compile
  - mill core.tut

cache:
  directories:
  - $HOME/.coursier
