language: scala
sudo: required
dist: trusty

jdk:
  - openjdk8
  - openjdk11

script:
  - curl -L -o ~/bin/mill https://github.com/lihaoyi/mill/releases/download/0.3.2/0.3.2-17-7b4ced && chmod +x ~/bin/mill
  - export PATH=~/bin/mill:$PATH
  - mill _.compile

cache:
  directories:
  - $HOME/.coursier
